@collageify-header-footer-bg-colour: #000000;
@collageify-main-font-colour: #FFFFFF;
@collageify-main-bg-colour: #0F0F0F;
@collageify-headers-font-family: 'Montserrat', 'sans-serif';

.collageify-main {
    background-color: @collageify-main-bg-colour;
}

.collageify-navbar {
    color: @collageify-main-font-colour;
    background-color: @collageify-header-footer-bg-colour;
    min-height: 75px;
    font-family: @collageify-headers-font-family;

    a {
        color: @collageify-main-font-colour;
    }

    img {
        margin-left: 5px;
        max-height: 45px;
    }

    .collageify-avatar-container {
        .user-avatar {
            float: left;
            margin-right: 15px;
        }

        .user-name {
            float: right;
            font-size: 1.1rem;
        }
    }
}

.collageify-footer {
    color: @collageify-main-font-colour;
    background-color: @collageify-header-footer-bg-colour;
    min-height: 50px;

    .footer-text {
        float: right;
    }

    a {
        color: @collageify-main-font-colour;
        text-decoration: underline;
    }
}

.collageify-auth {
    margin-top: 7.5%;
    color: @collageify-main-font-colour;

    .content-title {
        font-size: 3rem;
        font-family: @collageify-headers-font-family; 
    }

    .content-row {
        margin-top: 7.5%; 
        padding-left: 15%;
        padding-right: 15%;
        font-size: 1rem;
        margin-bottom: 7.5%;
    }
}

.collageify-dashboard {
    margin-top: 7.5%;
    color: @collageify-main-font-colour;

    .dashboard-title {
        font-size: 2rem;
        font-family: @collageify-headers-font-family;
    }

    .share-title {
        font-size: 1.5rem;
        font-family: @collageify-headers-font-family;
    }

    .content-row {
        margin-top: 7.5%; 
        padding-left: 15%;
        padding-right: 15%;
        font-size: 1rem;
        margin-bottom: 7.5%;
    }

    .dashboard-text-row {
        margin-top: 5%;
    }

    .button-row {
        margin-top: 4%;
        margin-bottom: 4%;
    }
}