.collageify-main {
  background-color: #080808;
}
.collageify-navbar {
  color: #FFFFFF;
  background-color: #000000;
  min-height: 75px;
}
.collageify-footer {
  color: #FFFFFF;
  background-color: #000000;
  min-height: 50px;
}
.collageify-auth {
  min-height: 80%;
}
.collageify-auth .container {
  width: 100%;
}
