@collageify-header-footer-bg-colour: #000000;
@collageify-main-font-colour: #FFFFFF;
@collageify-main-bg-colour: #0F0F0F;
@collageify-headers-font-family: 'Montserrat', 'sans-serif';

.collageify-main {
    background-color: @collageify-main-bg-colour;
}

.collageify-navbar {
    color: @collageify-main-font-colour;
    background-color: @collageify-header-footer-bg-colour;
    min-height: 75px;
    font-family: @collageify-headers-font-family;

    a {
        color: @collageify-main-font-colour;

        @media (max-width: 1024px) {
            font-size: 2em;
        }
    }

    img {
        margin-left: 5px;
        max-height: 45px;

        @media (max-width: 1024px) {
            max-height: 60px;
        }
    }

    .collageify-avatar-container {
        .user-avatar {
            float: left;
            margin-right: 15px;

            @media (max-width: 1024px) {
                max-height: 50px;
            }
        }

        .user-name {
            float: right;
            font-size: 1.1rem;

            @media (max-width: 1024px) {
                font-size: 2em;
            }
        }
    }
}

.collageify-footer {
    color: @collageify-main-font-colour;
    background-color: @collageify-header-footer-bg-colour;
    min-height: 50px;

    .footer-text {
        float: right;

        @media (max-width: 1024px) {
            font-size: 1.5em;
        }

        a {
            @media (max-width: 1024px) {
                font-size: 1em;
            }
        }
    }

    a {
        color: @collageify-main-font-colour;
        text-decoration: underline;

        @media (max-width: 1024px) {
            font-size: 2em;
        }
    }
}

.collageify-auth {
    margin-top: 7.5%;
    color: @collageify-main-font-colour;

    .content-title {
        font-size: 3rem;
        font-family: @collageify-headers-font-family;

        @media (max-width: 1024px) {
            font-size: 5em;
        }
    }

    .content-row {
        margin-top: 7.5%; 
        padding-left: 15%;
        padding-right: 15%;
        font-size: 1rem;
        margin-bottom: 7.5%;

        @media (max-width: 1024px) {
            font-size: 2em;
        }
    }

    a, button {
        @media (max-width: 1024px) {
            font-size: 2em;
        }
    }
}

.collageify-dashboard {
    margin-top: 7.5%;
    color: @collageify-main-font-colour;

    .dashboard-title {
        font-size: 2rem;
        font-family: @collageify-headers-font-family;

        @media (max-width: 1024px) {
            font-size: 2em;
        }
    }

    .share-title {
        font-size: 1.5rem;
        font-family: @collageify-headers-font-family;

        @media (max-width: 1024px) {
            font-size: 1.5em;
        }
    }

    .content-row {
        margin-top: 7.5%; 
        padding-left: 15%;
        padding-right: 15%;
        font-size: 1rem;
        margin-bottom: 7.5%;
    }

    .your-collage-text-row {
        margin-top: 2%;
    }

    .button-row {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .btn-group {
        margin-bottom: 2%;

        a {
            color: @collageify-main-bg-colour;
        }
    }

    .dashboard-col {
        @media (max-width: 1024px) {
            font-size: 2em;
        }

        a, button {
            @media (max-width: 1024px) {
                font-size: 1.25em;
            }
        }
    }

    .collage-col {
        
        @media (max-width: 1024px) {
            margin-bottom: 5%;
        }

        .albumGrid {
            overflow: overlay;
            width: 90%;
            margin: auto;
        }

        .clearfix:after {
            content: " "; /* Older browser do not support empty content */
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
        }

        .square {
            float:left;
            position: relative;
            width: 33%;
            padding-bottom : 33%; /* = width for a 1:1 aspect ratio */
            margin:0.1%;
            background-color:#1E1E1E;
            overflow:hidden;
        }

        .content {
            position:absolute;
            height:100%; /* = 100% - 2*5% padding */
            width:100%; /* = 100% - 2*5% padding */
            
        }
        
        /*  For responsive images */
        
        .content .rs {
            width:100%;
            height:100%;
        }
        
        .bg {
            background-position:center center;
            background-repeat:no-repeat;
            background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
            color:#fff;
        }
    }
}