{% extends "layouts/default.twig" %}

{% block content %}
    <div class="collageify-auth container">
        <div class="col-lg">
            <div class="row d-flex justify-content-center">
                <h1 class="content-title">Collageify</h1>
            </div>
            <div class="row content-row">
                <div class="alert alert-dark" role="alert">
                <strong>Welcome to the new collage generator site!</strong> This is my replacement for my old spotify collage generator. I hope you enjoy it!
                </div>
                <p>For too long have we been missing an album collage generator that pulls from Spotify like Tapmusic's great last.fm collage generator.</p>
                <p>Collageify solves this.<p>
                <p>The algorithim works by pulling your most recently played songs and collating them by album, then ranking each of the albums you've been playing recently.<p>
                <p>Generate yours by giving the tool permission to see your most viewed tracks below!</p>
            </div>
            <div class="row button-row justify-content-center">
                <a class="btn btn-light btn-lg auth-button" role="button" href="{{ get_env('APP_URL') }}/auth/">Generate my collage!</a>
            </div>
        </div>
    </div>
{% endblock %}