<div class="albumGrid clearfix" id="albumGrid">
    {% for album in collage_albums %}
    <div class="square{{ collage_size }} bg">
        <div class="content">
            <img class="rs" src="{{ album.getApiAlbumData().images[0].url }}">
        </div>
    </div>
    {% endfor %}
    <div class="collage-footer">
        <p>Collageify powered by <img src="http://collageify.test/assets/img/spotify-icon-white.png"></img></p>
    </div>
</div>
