<navbar class="collageify-footer navbar">
    <div class="container-xl">
        <a class="navbar-brand" href="https://github.com/liamjosephfriel/Collageify"><i class="fa fa-github" aria-hidden="true"></i> {{ get_env('APP_VERSION') }}</a>
        <div class="footer-text navbar-text">
            Liam Friel | <a href="https://www.twitter.com/liamjosephfriel"><i class="fa fa-twitter" aria-hidden="true"></i>@liamjosephfriel</a>
        </div>
    </div>
</navbar>