<navbar class="collageify-navbar navbar">
    <div class="container">
        <a href="{{ get_env('APP_URL') }}" class="navbar-brand collageify-logo">
            <span class="sr-only">Collageify</span>
        </a>
    </div>
</navbar>