<a href="https://twitter.com/intent/tweet?text=Check%20out%20my%20collage!%20https%3A%2F%2Fliam.scot%2Fprojects%2Fcollageify%2F" class="btn btn-primary">
    <i class="fa fa-twitter"></i> Share on Twitter</i>
</a>