<a href="https://twitter.com/intent/tweet?text=Check%20out%20my%20collage!%20https%3A%2F%2Fliam.scot%2Fprojects%2Fcollageify%2F" class="btn btn-primary" style="margin-right:10px">
    <i class="fa fa-twitter"></i> Share on Twitter</i>
</a>
   <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Collageify on Ko-fi', '#29abe0', 'I3I1G7IOF');kofiwidget2.draw();</script> 