<a href="https://twitter.com/share?ref_src=twsrc%5Etfw&text=Share%20via%20Twitter" class="twitter-share-button" data-size="large" data-text="Check out what albums I&#39;ve been listening to with Collageify!" data-url="https://liam.scot/projects/collageify/" data-show-count="false">Share via</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
